# Ignorar archivos y directorios del sistema
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
NTUSER.DAT*
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/

# Ignorar archivos específicos
*.exe
*.LOG*
*.ini
*.txt
*.sql
